---
import LayoutBase from "@layouts/LayoutBase.astro";
import Avatar from "@images/brand/dc_profile.jpg";
import SocialsHeadless from "@components/Headless/SocialNav.astro";
import { Image } from "astro:assets";
import LogoIcon from "@icons/dc_glasses.svg?raw";
---

<LayoutBase>
  <header
    class="flex flex-col md:space-y-4 px-12 mt-20 mb-4 justify-center text-center"
  >
    <h1 class="text-3xl text:xs-3xl md:text-6xl font-semibold text-white">
      <div class="flex justify-center">
        <Image
          loading="eager"
          src={Avatar}
          alt="David Cotelessa"
          class="rounded-full w-32 xl:w-48 border-smoke-950 border-4"
          transition:name={"dc-avatar"}
        />
      </div>
      <div class="flex justify-center items-center gap-2">
        <span>David</span>
        <Fragment set:html={LogoIcon} />
        <span>Cotelessa</span>
      </div>
    </h1>
    <p class="text-2xl md:text-4xl">Software Engineer, Front End.</p>
    <SocialsHeadless
      classNames={{
        ul: "flex flex-row space-x-3",
        li: "p-1",
        container: "flex flex-row justify-center p-1",
      }}
    />
  </header>
  <main class="wrapper mt-8">
    <div class="card">
      <ul class="list-disc m-8">
        <li>
          <p>
            <b>Seasoned Software Front-end Engineer:</b> I specialize in JavaScript
            and Node for front-end and server-side applications. I am also adept
            at rapidly adopting new technology to deliver high-quality solutions
            in dynamic environments.
          </p>
        </li>
        <li>
          <p>
            <b>Strategic Communicator:</b> I excel in team collaboration, clear documentation,
            and align multiple teams w/ project goals.
          </p>
        </li>
        <li>
          <p>
            <b>Team Catalyst:</b> I encourage a positive work culture through mentorship,
            pair programming, and constructive feedback. I effectively manage expectations
            with regular consistent updates to the team and company.
          </p>
        </li>
        <li>
          <p>
            <b>Innovative Problem Solver:</b> I tackle complex challenges by balancing
            technical considerations and tradeoffs with business needs. I identify
            risk, and make decisions pragmatically.
          </p>
        </li>
        <li>
          <p>
            <b>Quality Champion:</b> I tackle complex challenges by balancing technical
            considerations and tradeoffs with business needs. I identify risk, and
            make decisions pragmatically.
          </p>
        </li>
      </ul>
      <p class="m-8">
        I work with two cats 🐈 🐈‍⬛, and drink lots of coffee. ☕
      </p>
    </div>
  </main>
</LayoutBase>
